body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* || VARIABLES */

:root {
  /* COLORS */
  --BGCOLOR: #0F172A;
  --BORDER-COLOR: #FFF;
  --COLOR: #FFF;
  --ERROR: firebrick;
  --INACTIVE: lightgray;
  --LINK-COLOR: whitesmoke;
  --LINK-HOVER: rgba(245, 245, 245, 0.9);
  --NOTE-BGCOLOR: hsla(240, 64%, 27%, 0.65);
  --STATUS-COMPLETE: limegreen;
  --STATUS-OPEN: firebrick;
  --TABLE-BGCOLOR: #FFF;
  --TABLE-COLOR: #000;
  --INPUT-INVALID: #F00;
}

a,
a:visited {
  color: var(--LINK-COLOR);        
}

a:hover,
a:active {
  color: var(--LINK-HOVER);        
}

.inventory-grid,
.inventory-grid__user,
.inventory-grid__other{
  display: flex;
  flex-wrap: wrap;
}

.item,
.editable-item {
  outline: solid black;
  border-radius: 15px;
  padding: 0.3em 2rem;
  margin: 2rem;
  color: var(--COLOR);
  width: 280px;
  height: 280px;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
}

.item {
  background-color: var(--BGCOLOR);
}

.editable-item {
  background-color: #112;
}

.icon-button {
  width: 48px;
  height: 48px;
  font-size: 2.5rem;
  background-color: transparent;
  border: none;
  color: var(--COLOR);
  display: grid;
  place-content: center;
}

.item__title {
  margin: 0.1em;
}

.item__description {
  font-size: 1rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
  flex-grow: 1;
}

.item__bottom {
  margin-top: auto;
  display: flex;
  flex-direction: row;
}

.item__quantity {
  flex-grow: 1;
  margin-top: auto;
}

.errmsg {
  display: inline-block;
  background-color: var(--TABLE-BGCOLOR);
  color: var(--ERROR);
  padding: 0.25em;
  margin-bottom: 0.5em;
}

.errmsg a:any-link {
  color: var(--ERROR);
  text-decoration: underline;
}

.public,
.welcome {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.public {
  padding: 1em;
  flex-grow: 1;
  color: var(--COLOR);
}

.form {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.75em;
  max-width: 800px;
  color: var(--COLOR);
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.form__checkbox-container {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 0.5em;
}

.form__persist {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.5em;
}

.form__title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form__input,
.form__submit-button {
  padding: 0.5em;
  border-radius: 15px;
}

.form__input--text {
  min-height: 150px;
}

.form__input--incomplete {
  border: 1px solid var(--INPUT-INVALID);
  outline: 1px solid var(--INPUT-INVALID);
}

.form__checkbox {
  width: 24px;
  height: 24px;
}

.form__select {
  width: fit-content;
  padding: 0.25em;
}

.dash-header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--BGCOLOR);
  padding: 0 0.5em;
  border-bottom: 1px solid var(--BORDER-COLOR);
  display: flex;
  align-items: center;
  min-height: 80px;
}

.dash-header__nav {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  gap: 0.5em;

  flex-grow: 0;
  align-items: center;;
}

.dash-button {
  align-self: flex-end;
  background-color: #111;
  color: whitesmoke;
  flex-shrink: 0;
  padding: 0.5em 1em;
  font-size: 1.5rem;
}

.dash-container {
  padding: 0.75em 0.5em 0.5em;
  flex-grow: 1;
}

.dash-header__user {
  color: var(--COLOR);
  align-self: flex-start;
  flex-grow: 1;
  font-size: 3rem;
  text-align: left;

  line-height: 1;
  padding: 0.25em 0;
}

.detailed-item {
  color: var(--COLOR);
}

.detailed-item__header {
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
  height: 60px;
  margin-top: 1em;
}

.detailed-item__header .form__input {
  font-size: 3rem;
}

.detailed-item__name {
  font-size: 3rem;
}

.detailed-item__quantity {
  display: inline;
}

.detailed-item__description {
  margin-bottom: 1em;
  width: 100%;
}

.detailed-item__description .form__input {
  font-size: 1.5em;
  width: 100%;
}